<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<property name="LOGS_PATH" value="D:/logs/flauntAPI/"/>


<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight([%-5level]) %logger{36}::%M [%X{tenantContext}]- %highlight(%msg%n)
			</Pattern>
		</layout>
	</appender>


<!-- file name pattern :: for archiving the data 
		filesize:: when to take archive -->
	<appender name="FLAUNTAPI" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_PATH}flauntAPI</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}flauntAPI-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>    
        <maxHistory>30</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>
        	%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        	
 <!-- %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight([%-5level]) %logger{36}::%M [%X{tenantContext}]- %highlight(%msg%n) -->
        	</pattern>
    </encoder>
	</appender>
	
	
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_PATH}error</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>    
        <maxHistory>30</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>
        	%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        	
<!--  %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight([%-5level]) %logger{36}::%M [%X{tenantContext}]- %highlight(%msg%n) -->
        	</pattern>
    </encoder>
	</appender>
	
	
	<appender name="QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_PATH}query</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}query-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>    
        <maxHistory>30</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>
        	%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        	
<!--  %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight([%-5level]) %logger{36}::%M [%X{tenantContext}]- %highlight(%msg%n) -->
        	</pattern>
    </encoder>
	</appender>
	
	
	<appender name="QUERYERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS_PATH}querymastererror</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}querymastererror-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>    
        <maxHistory>30</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>
        	%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        	
<!--  %d{yyyy-MM-dd HH:mm:ss} %green([%thread]) %highlight([%-5level]) %logger{36}::%M [%X{tenantContext}]- %highlight(%msg%n) -->
        	</pattern>
    </encoder>
	</appender>
	
	
<logger name="enam" level="info" additivity="false">
    <appender-ref ref="FLAUNTAPI" />
    <appender-ref ref="STDOUT" />
</logger>

<logger name="error" level="info" additivity="false">
    <appender-ref ref="ERROR" />
    <appender-ref ref="STDOUT" />
</logger>

<logger name="query" level="info" additivity="false">
    <appender-ref ref="QUERY" />
    <appender-ref ref="STDOUT" />
</logger>

<logger name="queryerror" level="info" additivity="false">
    <appender-ref ref="QUERYERROR" />
    <appender-ref ref="STDOUT" />
</logger>


<root level="info">
		<appender-ref ref="STDOUT" />
</root>

</configuration>
